# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.sdf
*.opensdf
*.suo

# Temp objects 
*.vcxproj.user
*.vcxproj
*.log 
*.tlog
*.idb
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
